/* Color Variables */
:root {
    --white: #FAFAFA;
    --grey300: #C8C8C8;
    --grey200: #646464;
    --grey100: #313131;
    --primary: #FF9E75;
    --secondary: #E5EDEE;
    --pale-cyan: #75D6FF;
    --robin-egg-blue: #98D5FE;
    --shandy: #75D6FF;
    --venetian-red: #CC1512;

    /* Side menu */
    --side-menu-width: 192px;
    --side-menu-collapsed-width: 56px;
}

/* Headings */
h1 {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: var(--grey200);
}

h2 {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--grey200);
}

/* Fonts & Texts */

.my-font, .my-font * {
    font-family: 'Roboto', sans-serif;
    color: var(--grey200);
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey200);
}
p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}

.bold {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.detail {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.side-menu .collapsed-logo {
    display: none;
    margin: 8px 0px;

}

.side-menu.collapsed .expanded-logo {
    display: none;
    margin: 8px;
    padding: 8px;
}

.side-menu.collapsed .collapsed-logo {
    display: block;
}

.side-menu {
    border-right: 1px solid var(--grey300);
    width: var(--side-menu-width);
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    z-index: 1;
    transition: width 0.3s ease-in-out;
}

.side-menu ul {
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 16px 0;
    color: var(--grey200);
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.side-menu li:hover {
    background-color: var(--grey300);
    align-items: center;
    text-decoration: none;
}

.side-menu i.material-icons {
    margin: 0 16px;
    color: var(--grey200);
}

.side-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--grey200);
}

.side-menu li a:hover {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--grey300);
}

.side-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--grey200);
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin: 16px;
    padding: 8px 16px;
    background-color: var(--robin-egg-blue);
    border-radius: 16px;
    color: var(--white);
    margin-right: auto;
}

.button-primary {
    background-color: var(--robin-egg-blue);
    border: 1px solid var(--grey200);
    color: var(--white);
}

.button-secondary {
    background-color: var(--white);
    border: 1px solid var(--grey200);
    color: var(--grey200);
}

.button-danger {
    background-color: var(--venetian-red);
    border: 1px solid var(--grey300);
    color: var(--white);
}


.bottom-items {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.collapsed {
    width: var(--side-menu-collapsed-width);
}

.collapsed li span {
    display: none;
}

/* Chart */
.chart-font {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--grey200);
}

.chart-colours{
    background-color: var(--white);

}

#chart {
    width: 100%;
    min-height: 400px; /* Set a minimum height */
    max-height: 600px; /* Set a maximum height */
    height: 100%;
}

.chart {
    background-color: var(--white);
    border: 1px solid var(--grey300);
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.grid line {
    stroke: var(--grey300);
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

.grid path {
    stroke-width: 0;
}

.grid .domain {
    display: none;
}

.bottom-items {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    gap: 16px;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}


.bottom-section {
    margin-bottom: 24px;
}

.logout-line {
  border-top: 1px solid var(--grey100);
  width: 100%;
  margin-bottom: 12px;
}


.parallax {
    background-image: url('/static/images/hero-image-top.png');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper {
    background-color: var(--secondary);
    margin-left: var(--side-menu-width);
    padding: 16px;
    gap: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: calc(100% - (100% - var(--side-menu-width)));
    min-height: 100vh;
    box-sizing: border-box;
    transition: margin-left 0.5s, margin-top 0.5s ease-in-out;
}

.content-wrapper.menu-collapsed {
    margin-left: var(--side-menu-collapsed-width);
}

.card.bottom-row {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}


.card-container {
    flex: 1 0;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid var(--grey300);
}

  .card-title {
    display: flex;
    align-items: center;
    height: 48px;
}


  .card-title img {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

  .card-title h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}


/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: var(--white);
    border: 1px solid var(--grey200);
    border-radius: 16px;
    margin: 16px auto;
    padding: 24px;
    width: 80%;
    position: relative;
    bottom: 0;
    transform: translateY(200%);
    transition: transform 0.3s ease-in-out;
}

.modal-show .modal-content {
    transform: translateY(20%);
}

.modal-header-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-title {
  margin: 0;
}

.close {
  border: none;
  background: none;
  font-size: 24px;
  color: var(--grey200);
  padding: 0;
  cursor: pointer;
}

.close:hover {
  color: var(--grey100);
}

/* Bottom App Bar */

.bottom-app-bar {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.bottom-app-bar nav {
    height: 56px;
    display: flex;
    justify-content: center;
}

.app-bar-link {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.app-bar-link > li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    justify-content: center;
}

.app-bar-link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grey200);
    text-decoration: none;
}

.app-bar-link a i.material-icons {
    font-size: 24px;
}

.app-bar-link a span {
    margin-top: 4px;
}

/* Hamburger Menu */

.hamburger-menu {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--white);
    transition: top 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.hamburger-menu img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-toggle {
    margin-right: 16px;
    background-color: var(--white);
    border: none;
    color: var(--grey200);
    cursor: pointer;
}

#hamburgerMenuItems {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    list-style: none;

}

#hamburgerMenuItems.show {
    display: flex;
}

#hamburgerMenuItems > *:not(:last-child) {
    margin-bottom: 16px;
}

#hamburgerMenuItems a {
    display: flex;
    align-items: center;
    color: var(--grey200);
    text-decoration: none;
    font-size: 16px;
}

#hamburgerMenuItems a i.material-icons {
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .bottom-app-bar {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .hamburger-menu {
        display: flex;
        align-items: flex-start;
    }

    .card-container {
        flex: 1 1 calc(100% - 16px);
        width: auto;
    }

    .side-menu {
        display: none;
    }

    .content-wrapper {
        margin: 64px 0px 72px 0px;
    }
}