{% extends 'base.html' %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper" id="content-wrapper">
        <div class="col-12">

            <!--Chart -->
            <div class="chart" >
            <div id="chart"></div>
            </div>

            <!-- Bottom Cards -->
            <div class="custom-row">
                <!-- Card 1 -->
                <div class="card-container col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Last updated 0412 18:04</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="card-container col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="card-container col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <!-- End of cards -->
            </div>
        </div>
    </div>

    {% endblock %}