<h1>Settings</h1>

                <form id="settingsForm">
                    <h5 class="card-title">Select Region</h5>
                    <p class="card-text">
                        <select id="regionSelect" name="region">
                            <option value="SE1">SE1</option>
                            <option value="SE2">SE2</option>
                            <option value="SE3">SE3</option>
                            <option value="SE4">SE4</option>
                            <option value="FI">FI</option>
                            <option value="DK1">DK1</option>
                            <option value="DK2">DK2</option>
                            <option value="Oslo">Oslo</option>
                            <option value="Kr.sand">Kr.sand</option>
                            <option value="Bergen">Bergen</option>
                            <option value="Molde">Molde</option>
                            <option value="Tr.heim">Tr.heim</option>
                            <option value="Tromsø">Tromsø</option>
                            <option value="EE">EE</option>
                            <option value="LV">LV</option>
                            <option value="LT">LT</option>
                            <option value="AT">AT</option>
                            <option value="BE">BE</option>
                            <option value="DE-LU">DE-LU</option>
                            <option value="FR">FR</option>
                            <option value="NL">NL</option>
                            <option value="SYS">SYS</option>
                        </select>
                            <!-- Add other options for regions -->
                    </p>

                    <h5 class="card-title">Select Currency</h5>
                    <p class="card-text">
                            <select id="currencySelect" name="currency">
                                <option value="EUR">EUR</option>
                                <option value="DKK">DKK</option>
                                <option value="NOK">NOK</option>
                                <option value="SEK">SEK</option>
                            </select>
                    </p>
                    <button class="button" id="updateButton" type="submit">Update</button>
                </form>


    <script src="/static/javascript/settings.js"></script>

